<?xml version="1.0" ?>
<launch>
  <arg name="robot_ip" default="172.16.0.2"/>
  <arg name="load_gripper" default="false" />
  <arg name="launch_rviz" default="true" />

  <include file="$(find franka_control)/launch/franka_control_allegro.launch" >
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include>

  <include file="$(find moveit_combined)/launch/panda_moveit.launch"/>
  <include file="$(find moveit_combined)/launch/moveit_rviz.launch" if="$(arg launch_rviz)">
    <arg name="rviz_config" value="$(find moveit_combined)/launch/moveit.rviz"/>
  </include>

</launch>
